#wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background: url("../static/imgs/main_bg/site_bg.jpg");
    background-color: #E9EBEE;
    font-family: "Times New Roman", Times, serif;
    font-size: 70%;
    height: 100%;
    padding-top: 45px;
}

.bg-custom {
    background: #2F2D3E;
}

.bg-custom,
#sidebar-wrapper > ul > li > a {
    border-bottom: 1px solid #1D1C26;
}

#sidebar-wrapper {
    border-right: 1px solid #1D1C26;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 50px;
    position: fixed;
    top: 0;
    transition: width .25s ease-out;
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
    -o-transition: width .25s ease-out;
    width: 220px;
    z-index: 1;
}

#wrapper.toggled > #sidebar-wrapper {
    border-right: 0;
    width: 0;
}

#sidebar-wrapper > ul {
    list-style-type: none;
    margin-bottom: 0;
}

#sidebar-items-padding {
    padding: 10px;
}

#sidebar-wrapper > ul > li > a {
    display: block;
    font-size: 125%;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#sidebar-wrapper > ul > li > a,
#top-bar-wrapper .navbar-nav .nav-link,
#top-bar-wrapper .navbar-nav .dropdown-item {
    color: #BBB9B9;
}

#sidebar-wrapper > ul > li > a:hover,
#top-bar-wrapper .navbar-nav .nav-link:hover,
#top-bar-wrapper .navbar-nav .dropdown-item:hover {
    background: #423C72;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}

#top-bar-wrapper .navbar-nav .nav-link:hover {
    border-radius: 5px;
}

#sidebar-toggler {
    font-size:100%;
}

#top-bar-wrapper .navbar-nav .nav-link {
    font-size: 100%;
}
#top-bar-wrapper .navbar-nav .dropdown-menu .dropdown-item {
    font-size: 70%;
}
#top-bar-wrapper .navbar-toggler  .navbar-toggler-icon {
    font-size: 60%;
}

.padding-0 {
    padding-left: 0;
    padding-right: 0;
}

.vertical-centered {
    align-items: center;
    display: flex;
}

#main-content {
    background: #48455F;
    border-left: 1px solid #D4D4D8;
    border-right: 1px solid #D4D4D8;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    min-height: 100vh;
    padding-bottom: 20px;
    padding-top: 20px;
}

.content-section {
    background: #F3F3F7;
    border: 1px solid #BEBACA;
    border-radius: 2px;
    margin: 20px 0;
    padding-bottom: 10px;
}

.page-heading {
    border-radius: 2px;
    color: #FFFFFF;
    padding: 5px 0;
    text-align: center;
}

.article-metadata {
    margin: 0 auto;
    padding: 15px 0 0 0;
}

.user-img {
    display: block;
    max-height: 45px;
    max-width: 45px;
    margin: 0 auto;
}

.user-img.narrower {
    max-height: 37.5px;
    max-width: 37.5px;
}

.user-name:hover,
.article-title > a:hover,
.latest-movies:hover {
    color: #0E06EF;
    text-decoration: none;
}

.article-content {
    padding-bottom: 5px;
}

.article-img {
    border-radius: 4px;
    max-height: 250px;
    max-width: 170px;
    margin-left: 10px;
}

.article-img.narrower {
    max-height: 180px;
    max-width: 120px;
}

.content-section .row,
.article-content hr {
    width: 100%;
}

.content-section hr {
    width: 95%;
}

.article-title > a {
    color: #000000;
}

.article-content .movie-storyline,
.latest-movies.author {
    color: #5C5C5C;
}

.article-content .movie-storyline {
    word-wrap: break-word;
}

.border-bottom {
    color: #2C0FD2;
}

.movies-count {
    color: #F5E000;
    font-size: 50%;
    font-style: italic;
}

.user-name,
.movie-date,
.user-name.narrower,
.movie-date.narrower {
    padding-left: 0;
}

.btn.update,
.btn.delete {
    font-size: 80%;
}

.btn.update.narrower,
.btn.delete.narrower {
    font-size: 75%;
}

.latest-movies {
    font-size: 0.6em;
}

/* #Responsiveness# */
@media screen and (max-width: 320px) {
    h1 { font-size: 1.3em; }
    h2 { font-size: 1.075em; }
    h3 { font-size: 0.7em; }
    h4 { font-size: 0.85em; }
    p { font-size: 0.6em; }
    small,
    small.narrower { font-size: 70%; }
    #sidebar-wrapper { width: 160px; }
    #sidebar-wrapper > ul > li { font-size: 80%; }
    #sidebar-toggler { font-size: 80%; }
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 50%; }
    .user-img,
    .user-img.narrower { height: 30px; width: 30px; }
    .article-img { height:100px; width: 60px; }
    .movie-text-content { padding-left: 10px; }

}

@media screen and (min-width: 321px) and (max-width: 379px) {
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.375em; }
    h3 { font-size: 0.95em; }
    h4 { font-size: 1.15em; }
    p { font-size: 0.8em; }
    small,
    small.narrower { font-size: 60%; }
    #sidebar-wrapper { width: 60%; }
    #sidebar-wrapper > ul > li { font-size: 90%; }
    #sidebar-toggler { font-size: 80%; }
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 65%; }
    .user-img,
    .user-img.narrower { height: 40px; width: 40px; }
    .article-img { height:120px; width: 65px; }
}


@media screen and (min-width: 380px) and (max-width: 430px) {
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.375em; }
    h3 { font-size: 0.95em; }
    h4 { font-size: 1.15em; }
    p { font-size: 0.8em; }
    small,
    small.narrower { font-size: 60%; }
    #sidebar-wrapper { width: 50%; }
    #sidebar-wrapper > ul > li { font-size: 90%; }
    #sidebar-toggler { font-size: 80%; }
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 65%; }
    .user-img,
    .user-img.narrower { height: 40px; width: 40px; }
    .article-img { height:125px; width: 85px; }
}

@media screen and (min-width: 431px) and (max-width: 575px) {
    h1 { font-size: 1.5em; }
    h2 { font-size: 1.375em; }
    h3 { font-size: 0.95em; }
    h4 { font-size: 1.15em; }
    p { font-size: 0.8em; }
    small,
    small.narrower { font-size: 60%; }
    #sidebar-wrapper { width: 200px; }
    #sidebar-wrapper > ul > li { font-size: 90%; }
    #sidebar-toggler { font-size: 80%; }
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 65%; }
    .user-img,
    .user-img.narrower { height: 40px; width: 40px; }
    .article-img { height:150px; width: 100px; }
}

@media screen and (min-width: 576px) and (max-width: 767px){
    h1 { font-size: 1.8em; }
    h2 { font-size: 1.575em; }
    h3 { font-size: 1em; }
    h4 { font-size: 1.2em; }
    p { font-size: 0.85em; }
    small,
    small.narrower { font-size: 60%; }
    #sidebar-wrapper { width: 200px; }
    #sidebar-wrapper > ul > li { font-size: 90%; }
    #sidebar-toggler { font-size: 85%;}
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 60%; }
    .user-img { height: 50px; width: 50px; }
    .article-img {  height:220px; width: 130px; }
}

@media screen and (min-width: 768px) and (max-width: 991px){ 
    h1 { font-size: 2em; }
    h2 { font-size: 1.675em; }
    h3 { font-size: 1.15em; }
    h3.narrower { font-size: 1em; }
    h4 { font-size: 1.35em; }
    h4.narrower { font-size: 1.2em; }
    p { font-size: 0.9em; }
    p.narrower { font-size: 0.75em; }
    small { font-size: 65%; }
    small.narrower  { font-size: 50%; }
    #sidebar-wrapper { width: 200px; }
    #sidebar-wrapper > ul > li { font-size: 90%; }
    #sidebar-toggler { font-size: 80%; }
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 60%; }
    .user-name,
    .movie-date { padding-left: 10px; }
    .user-name.narrower,
    .movie-date.narrower { padding-left: 15px; }
    .user-img { height: 55px; width: 55px; }
    .user-img.narrower { height: 45px; width: 45px; }
    .article-img { height: 240px; width: 160px; }
    .article-img.narrower { height: 200px; width: 130px; }
    .movie-text-content.narrower { padding-left: 14px; }
}

@media screen and (min-width: 992px) {
    h1 {  font-size: 2.2em; }
    h2 { font-size: 1.775em; }
    h3 { font-size: 1.2em; }
    h3.narrower { font-size: 1em; }
    h4 { font-size: 1.45em; }
    h4.narrower { font-size: 1.2em; }
    p { font-size: 1em; }
    p.narrower { font-size: 0.85em; }
    small { font-size: 70%; }
    small.narrower {  font-size: 65%; }
    .user-name.narrower,
    .movie-date.narrower { padding-left: 8px; }
    .latest-movies { font-size: 0.9em; }
    .user-img { height: 45px; width: 45px; }
    .user-img.narrower { height: 37.5px; width: 37.5px; }
    .article-img { height: 270px; width: 180px; }
    .article-img.narrower { height: 240px; width: 160px; }
}
/* /#Responsiveness# */
