#wrapper {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    background: url("../static/imgs/site_bg.jpg");
    background-color: #E9EBEE;
    font-family: "Times New Roman", Times, serif;
    font-size: 100%;
    height: 100%;
    padding-top: 57px;
}

.bg-custom {
    background: #2F2D3E;
}

.bg-custom,
#sidebar-wrapper > ul > li > a {
    border-bottom: 1px solid #1D1C26;
}

#sidebar-wrapper {
    border-right: 1px solid #1D1C26;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 57px;
    position: fixed;
    top: 0;
    transition: width .25s ease-out;
    -webkit-transition: width .25s ease-out;
    -moz-transition: width .25s ease-out;
    -o-transition: width .25s ease-out;
    width: 400px;
    z-index: 1;
}

#wrapper.toggled > #sidebar-wrapper {
    border-right: 0;
    width: 0;
}

#sidebar-wrapper > ul {
    list-style-type: none;
    margin-bottom: 0;
}

#sidebar-items-padding {
    padding: 15px 30px;
}

#sidebar-wrapper > ul > li > a {
    display: block;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
}

#sidebar-wrapper > ul > li > a,
#top-bar-wrapper .navbar-nav .nav-link,
#top-bar-wrapper .navbar-nav .dropdown-item {
    color: #BBB9B9;
}

#sidebar-wrapper > ul > li > a:hover,
#top-bar-wrapper .navbar-nav .nav-link:hover,
#top-bar-wrapper .navbar-nav .dropdown-item:hover {
    background: #423C72;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
}

#top-bar-wrapper .navbar-nav .nav-link:hover {
    border-radius: 5px;
}

.btn,
#sidebar-wrapper > ul > li,
#top-bar-wrapper .navbar-toggler > .navbar-toggler-icon {
    font-size: 100%;
}

#main-content {
    background: #48455F;
    border-left: 1px solid #D4D4D8;
    border-right: 1px solid #D4D4D8;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    min-height: 100vh;
    padding-bottom: 20px;
    padding-top: 20px;
}

.content-section {
    background: #F3F3F7;
    border: 1px solid #BEBACA;
    border-radius: 2px;
    margin: 20px 0;
    padding-bottom: 10px;
}

.padding-0 {
    padding-left: 0;
    padding-right: 0;
}

.vertical-centered {
    align-items: center;
    display: flex;
}

.article-metadata {
    margin: 0 auto;
    padding: 15px 0 0 0;
}

.user-img {
    height: 60px;
    width: 60px;
    margin: 0 auto;
    display: block;
}

.user-name:hover,
.article-title > a:hover {
    color: #0E06EF;
    text-decoration: none;
}

.article-content {
    padding: 10px 0;
}

.article-img {
    max-height: 270px;
    max-width: 200px;
    padding-left: 10px;
}

.content-section .row {
    width: 100%;
}

.content-section hr {
    width: 90%;
}

.article-content hr {
    width: 95%;
}

.article-title > a {
    color: #000000;
}

.article-content .movie-storyline {
    color: #5C5C5C;
}

.page-heading {
    border-radius: 2px;
    color: #FFFFFF;
    padding: 15px 0;
    text-align: center;
}

small {
    font-size: 70%;
}

 .border-bottom {
    color: #2C0FD2;
 }

/* #Responsiveness# */
@media screen and (max-width: 320px) {
    body { padding-top: 50px; }
    h1 { font-size: 1.4em; }
    h2 { font-size: 1.075em; }
    h3 { font-size: 0.85em; }
    h4 { font-size: 0.7em; }
    h5 { font-size: 0.65em; }
    h6 { font-size: 0.63em; }
    p { font-size: 0.6em; }
    .btn,
    #sidebar-wrapper > ul > li,
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 80%; }
    #sidebar-wrapper { width: 100%; }
    .user-img { height: 30px; width: 30px; }
    .article-img { height:100px; width: 60px; }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    body { padding-top: 50px; }
    h1 { font-size: 1.7em; }
    h2 { font-size: 1.375em; }
    h3 { font-size: 1.15em; }
    h4 { font-size: 0.95em; }
    h5 { font-size: 0.9em; }
    h6 { font-size: 0.87em; }
    p { font-size: 0.8em; }
    .btn,
    #sidebar-wrapper > ul > li,
    #top-bar-wrapper .navbar-toggler > .navbar-toggler-icon { font-size: 90%; }
    #sidebar-wrapper { width: 220px; }
    .user-img { height: 40px; width: 40px; }
    .article-img { height:130px; width: 80px; }
}

@media screen and (min-width: 480px) and (max-width: 767px){ 
    h1 { font-size: 2em; }
    h2 { font-size: 1.575em; }
    h3 { font-size: 1.2em; }
    h4 { font-size: 1em; }
    h5 { font-size: 0.8em; }
    h6 { font-size: 0.75em; }
    p { font-size: 0.85em; }
    #sidebar-wrapper { width: 300px; }
    .user-img { height: 50px; width: 50px; }
    .article-img {  height:200px; width: 130px; }
}

@media screen and (min-width: 768px) and (max-width: 991px){ 
    h1 { font-size: 2.2em; }
    h2 { font-size: 1.675em; }
    h3 { font-size: 1.35em; }
    h4 { font-size: 1.15em; }
    h5 { font-size: 1.1em; }
    h6 { font-size: 0.92em; }
    p { font-size: 0.9em; }
    #sidebar-wrapper { width: 350px; }
    .user-name { padding-left: 10px;}
    .user-img { height: 55px; width: 55px; }
    .article-img { height: 240px; width: 170px; }
}

@media screen and (min-width: 992px) {
    h1 {  font-size: 2.4em; } 
    h2 { font-size: 1.775em; }
    h3 { font-size: 1.45em; }
    h4 { font-size: 1.25em; }
    h5 { font-size: 1.15em; }
    h6 { font-size: 1.05em; }
    p { font-size: 1em; }

    .user-img { height: 60px; width: 60px; }
    .article-img { height: 270px; width: 200px; }
}
/* /#Responsiveness# */
