{% extends "layout.html" %}
{% from "_render_field.html" import render_field, render_file_field %}
{% block content %}
<div class="content-section">
    <form class="p-4" action="" method="POST" enctype="multipart/form-data">
        <fieldset>
            <legend class="border-bottom pb-2 mb-4">{{ legend }}</legend>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label(class='form-control-label') }}
                {{ render_field(form.title) }}
            </div>
            <div class="form-group">
                {{ form.director.label(class='form-control-label') }}
                {{ render_field(form.director) }}
            </div>
            <div class="form-group">
                {{ form.release_year.label(class='form-control-label') }}
                {{ render_field(form.release_year) }}
            </div>
            <div class="form-group">
                {{ form.genre.label(class='form-control-label') }}
                {{ render_field(form.genre) }}
            </div> 
            <div class="form-row form-group">
                <div class="col-md-12">
                    <label class="form-control-label">Duration</label>
                </div>
                <div class="col-md-5">
                    {{ render_field(form.duration_hrs) }}
                </div>
                <div class="col-md-1 pt-1">
                    {{ form.duration_hrs.label(class='form-control-label') }}
                </div>                    
                <div class="col-md-5">
                    {{ render_field(form.duration_mins) }}
                </div>
                <div class="col-md-1 pt-1">
                    {{ form.duration_mins.label(class='form-control-label')}}
                </div>
            </div>
            <div class="form-group">
                {{ form.rate.label(class='form-control-label') }}
                {{ render_field(form.rate) }}
            </div>
            <div class="form-group">
                {{ render_file_field(form.poster) }}
            </div>
            <div class="form-group">
                {{ form.rate.label(class='form-control-label') }}
                {{ render_field(form.storyline) }}
            </div>
        </fieldset>
        <div class="text-center">
            {{ form.submit(class='btn btn-sm btn-primary') }}
            <a class="btn btn-sm btn-secondary" role="button" id="cancel" href="{{ url_for('home') }}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
