{% extends "layout.html" %}
{% block sidebar_toggler %}
    <a class="btn btn-light" title="Show all Movie Genres" role="button" id="sidebar-toggler" href="#">Genres &raquo;</a>
{% endblock sidebar_toggler %}
{% block sidebar %}
    <aside id="sidebar-wrapper">
        <ul class="padding-0">
            {% for genre in genres %}
                <li>
                    <a id="sidebar-items-padding" href="{{ url_for('genre', genre_id=genre.id) }}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock sidebar %}
{% block content %}
    <h1 class="page-heading">{{ genre.name }} Movies ({{ movies_count }})</h1>
    {% if not movies %}
    <div class="content-section px-2 py-4">
        <h2 class="text-center"><span >{{ genre.name }}</span> genre is still empty. Do you want to <a href="{{ url_for('create_movie') }}">create</a> the first movie?</h2>
    </div>
    {% endif %}
    {% for movie in movies %}
        {% include "movie_layout.html" %}
    {% endfor %}
{% endblock content %}
