{% extends "layout.html" %}
{% block sidebar_toggler %}
    <a class="btn btn-light" title="Show all Movie Genres" role="button" id="sidebar-toggler" href="#">Genres &raquo;</a>
{% endblock sidebar_toggler %}
{% block sidebar %}
    <aside id="sidebar-wrapper" class="bg-custom">
        <ul class="padding-0">
            {% for genre in genres %}
                <li>
                    <a id="sidebar-items-padding" href="{{ url_for('genre', genre_id=genre.id) }}">{{ genre.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock sidebar %}
{% block content %}
    <h1 class="page-heading">Latest Movies</h1>
    {% for movie in movies.items %}
        {% include "movie_layout.html" %}
    {% endfor %}
    <div class="text-center">
        {% for page_num in movies.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if movies.page == page_num %}
                    <a class="btn btn-primary mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-primary mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                <span class="text-primary"> ... </span>
            {% endif %}
        {% endfor %}
    </div>
{% endblock content %}
