<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
        <script>
            function start() {
                gapi.load('auth2', function() {
                    auth2 = gapi.auth2.init({
                        client_id: '624238648194-d5arg2rutr3t8sna87e5iiioa388m1oq.apps.googleusercontent.com'
                    });
                });
            }
        </script>
        <title>
            Google Login
        </title>
    </head>
    <body>
        <div class="text-center mt-2">
            <button id="signinButton" class="btn btn-primary btn-lg">Sign In with your Google Account</button>
        </div>
        <divid="result"></div>
        <script>
            $('#signinButton').click(function() {
                function signInCallback(authResult){
                    if (authResult['code']){
                        $('#signinButton').attr('style', 'display: none');
                        $.ajax({
                            type: 'POST',
                            url: '/gconnect?state={{ STATE }}',
                            headers: {
                            'X-Requested-With': 'XMLHttpRequest'
                            },
                            contentType: 'application/octet-stream; charset=utf-8',
                            success:function(result){
                                $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
                                setTimeout(function() {
                                    window.location.href = "/";
                                    }, 500);
                            },
                            processData:false,
                            data:authResult['code']
                        });
                    } else{
                    // handle error
                    console.log('There was an error: ' + authResult['error']);
                    $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }
                auth2.grantOfflineAccess().then(signInCallback);
            });
        </script>
    </body>
</html>
