<article class="content-section">
    <header class="row article-metadata pl-md-2 pl-lg-0">
        <div class="col-2 col-md-1 text-center padding-0">
            <img class="user-img rounded-circle" src="{{ url_for('static', filename='imgs/profile_pics/op_profile_default.png') }}" alt="User's Profile Picture">
        </div>
        <div class="col-10 col-md-11 vertical-centered padding-0">
            <div class="row ">
                <div class="col-12">
                    <h4><a class="user-name" href="#">User Name will go here</a></h4>
                </div>
                <div class="col-12 pl-md-4 pl-lg-3">
                    <small class="text-muted vertical-centered">{{ movie.date_posted.strftime("%Y-%m-%d %I:%M %p") }}</small>
                </div>
            </div>
        </div>
    </header>
    <hr style="width: 90%">
    <section class="row article-content">
        <div class="col-4 col-xl-3 text-center">
            <img class="article-img text-center center-block" src="{{ url_for('static', filename='imgs/movie_pics/' + movie.poster ) }}" alt="Movie Poster Picture">
        </div>
        <div class="col-8 col-xl-9 padding-0 pl-2">
            <div class="row padding-0">
                <div class="col-6 col-md-5 col-lg-4 col-xl-3">
                    <h3 class="article-title"><a href="{{ url_for('movie', genre_id=movie.genre_id, movie_id=movie.id) }}">{{ movie.title }}</a></h3>
                </div>
                <div class="col-6 col-md-7 col-lg-8 col-xl-9 padding-0 text-muted">
                    <small>({{ movie.release_year }})</small>
                </div>
            </div>
            <div class="row movie-details text-muted">
                <div class="col-auto">
                    <small>Genre: <span><a class="text-info" href="{{ url_for('genre', genre_id=movie.genre.id) }}">{{ movie.genre.name }}</a></span></small>
                </div>
                <div class="col-auto">
                    <small>Rate: <span class="text-info">{{ movie.rate }}/10</span></small>
                </div>
                <div class="col-auto">
                    <small>Duration: <span class="text-info">{{ movie.duration }}</span> min</small>
                </div>
                <div class="col-auto">
                    <small class="text-">Directed by: <span class="text-info">{{ movie.director }}</span></small>
                </div>
            </div>
            <hr>
            <div class="row movie-storyline">
                <div class="col-12">
                    <p>{{ movie.storyline }}</p>
                </div>
            </div>
        </div>
    </section>
</article>