{% extends "layout.html" %}
{% block content %}
    {% if movies_count == 1 %}
        <h1 class="page-heading">{{ user.username }} <span class="movies-count">{{ movies_count }} movie</span></h1>
    {% else %}
        <h1 class="page-heading">{{ user.username }} <span class="movies-count">{{ movies_count }} movies</span></h1>
    {% endif %}
    <div class="row">
        <div class="col-md-8">
            {% if not movies %}
                <div class="content-section px-2 py-4">
                    <h2 class="text-center"><span >You have not added any movies yet. Do you want to <a href="{{ url_for('create_movie') }}">create</a> your first favorite movie?</h2>
                </div>
            {% endif %}
            {% for movie in movies %}
                {% include "narrower_movie_layout.html" %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% include "right_sidebar.html" %}
        </div>
    </div>
{% endblock %}