{% extends "layout.html" %}
{% block content %}
    <h1 class="page-heading">{{ user.username }} <span class="movies-count">{{ movies_count }} movies</span></h1>
    <div class="row">
        <div class="col-md-8">
            {% if not movies %}
            <div class="content-section px-2 py-4">
                <h2 class="text-center"><span >You haven't added any movies yet. Do you want to <a href="{{ url_for('create_movie') }}">create</a> your first favorite movie?</h2>
            </div>
            {% endif %}
            {% for movie in movies %}
                {% include "movie_layout.html" %}
            {% endfor %}
        </div>
        <div class="col-md-4">
            {% include "right_sidebar.html" %}
        </div>
    </div>
{% endblock %}